@using EntityLayer.Concrete
@model Message2
@{
    ViewData["Title"] = "AddMessage";
    Layout = "~/Views/Writer/WriterLayout.cshtml";
}

<h1>Mesaj Gönderme</h1>
<br />
@using (Html.BeginForm("AddMessage", "Message", FormMethod.Post))
{
    @Html.Label("Konu")
    @Html.TextBoxFor(x=>x.Subject, new{@class="form-control"})
    <br />
    @Html.Label("Gönderilecek Kullanıcı")
    @Html.DropDownListFor(x=>x.ReceiverID, (List<SelectListItem>)ViewBag.RecieverUser, new{@class="form-control"})
    <br />
    @Html.Label("Mesaj")
    @Html.TextAreaFor(x=>x.MessageText,30,3, new{@class="form-control"})
    <br />
    <button class="btn btn-dark">Mesaj Gönder</button>
    <br />
}

